{
  "env":{
    "amd": true,
    "browser": true,
    "es6": true
  },
  "extends": "rapid7/browser",
  "globals": {
    "process": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules":{}
}
